.sidebar-resume {
  display: block !important;
  position: fixed !important;
  padding: 10px !important;
  color: #fff;
  font-size: 17px !important;
  background-color: gray !important;
  border-radius: 10px !important;
  max-width: 250px !important;
  line-height: 1.2 !important;
  top: calc(50% - 100px);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: bottom right;
  right: -4px;
  height: auto !important;
  word-spacing: 2px !important;
  z-index: 2 !important;
  cursor: pointer !important;
}
.sidebar-resume div {
  overflow: hidden !important;
  white-space: nowrap !important;
}
.sidebar-resume div span {
  color: white;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
body {
  background: #000 url("../images/home_page/stars.png") repeat top center;
  z-index: 0;
}

.twinkle {
  background: transparent url("../images/home_page/twinkling.png") repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.main_body {
  background: linear-gradient(top, #337ab7 6%, #a94442 100%);
  background: -webkit-linear-gradient(top, #337ab7 6%, #a94442 100%);
  background: -moz-linear-gradient(top, #337ab7 6%, #a94442 100%);
  background: -o-linear-gradient(top, #337ab7 6%, #a94442 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Bree Serif", serif;
  color: white;
  font-weight: 100;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: 1100px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main_body .row {
  margin: 0;
}
.main_body section {
  padding-top: 50px !important;
}
.main_body #name_section .my_name {
  text-align: center;
}
.main_body #name_section .my_area ul {
  list-style: none;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 0;
}
.main_body #name_section .my_area ul p {
  margin: 0;
}
.main_body #intro_section .headshot img {
  width: 50%;
  border-radius: 50%;
}
.main_body #intro_section .personal_intro ul {
  list-style: none;
}
.main_body #intro_section .personal_intro ul li a {
  color: white;
}
.main_body #intro_section .personal_intro ul li a:hover {
  text-decoration: none;
}
.main_body #intro_section .personal_intro ul li div {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 1s box-shadow;
}
.main_body #intro_section .personal_intro ul li div span {
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.main_body #intro_section .personal_intro ul li div:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.9);
}
.main_body #intro_section .personal_intro ul li:nth-of-type(1) div {
  background: #e83556;
}
.main_body #intro_section .personal_intro ul li:nth-of-type(2) div {
  background: #61d0d4;
}
.main_body #intro_section .personal_intro ul li:nth-of-type(3) div {
  background: #d1c926;
}
.main_body #skills_section, .main_body #experience_section, .main_body #demos_section {
  margin: 0 3%;
}
.main_body #experience_section .date_period {
  float: right;
}
.main_body #demos_section .my_work .div_wrap {
  margin-bottom: 20px;
}
.main_body #demos_section .my_work img {
  height: 200px;
  max-width: 100%;
}
.main_body #demos_section .my_work div .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 30px);
  transform: scale(0);
  margin: auto;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 20%;
}
.main_body #demos_section .my_work div:hover .overlay {
  opacity: 1;
  transform: scale(1);
  height: 100%;
  border-radius: 0;
}
.main_body #demos_section .my_work .overlay h3 {
  color: #f7f7f7;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -200%);
  transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -200%);
  letter-spacing: 0.05em;
}
.main_body #contact {
  background: #191919;
  color: #F3F3F3;
  text-align: center;
  padding: 80px 0 100px 0;
}
.main_body #contact div.left > span {
  font-size: 80px;
  color: #11ABB0;
  line-height: 0;
}
.main_body #contact h4 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #11ABB0;
  text-align: left;
  text-transform: uppercase;
  color: #F5F5F5;
  font-size: 25px;
}
.main_body #form {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main_body #form > div {
  position: relative;
  margin-top: 30px;
}
.main_body .firstname, .main_body .lastname, .main_body .email, .main_body .tel {
  width: 45%;
}
.main_body .subject, .main_body .msg {
  width: 100%;
}
.main_body .btn-div {
  min-width: 30%;
  max-width: 50%;
  padding: 0;
}
.main_body #contact input, .main_body textarea {
  text-align: left;
  background: transparent !important;
  border-width: 0 0 1px 0 !important;
  border-color: #DDD;
  display: block;
  width: 100%;
  padding: 0 12px 6px 0;
  font-size: 14px;
  color: #F3F3F3;
  margin-top: 20px !important;
  height: 35px;
  font-family: "Raleway", sans-serif !important;
}
.main_body #contact input:focus, .main_body #contact textarea:focus {
  outline: none;
}
.main_body .focus-border {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #11ABB0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main_body input:focus ~ .focus-border, .main_body textarea:focus ~ .focus-border {
  width: 100%;
}
.main_body #contact textarea {
  resize: vertical;
  overflow-y: auto;
  min-height: 100px;
  max-height: 200px;
}
.main_body #contact .btn-send {
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  background: transparent;
  border-color: #F3F3F3;
  color: #F3F3F3;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main_body #contact .btn-send:hover, .main_body #contact .btn-send:focus {
  color: #333;
  background: #F3F3F3;
}
.main_body #contact .btn-send:focus {
  outline: none;
}
.main_body #contact .btn-send .fa {
  margin-right: 10px;
}
.main_body .label {
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  position: absolute;
  top: 25px !important;
  color: #AAA;
  text-align: left;
  font-size: 16px;
  display: block;
  cursor: text;
  font-family: "Raleway", sans-serif;
}
.main_body input:focus ~ .label, .main_body textarea:focus ~ .label[for=message], .main_body input.has-value ~ .label, .main_body textarea.has-value ~ .label[for=message] {
  font-size: 12px !important;
  top: 0px !important;
  color: #11ABB0 !important;
}
.main_body .input-info {
  width: 100%;
  color: #11ABB0;
  text-align: left;
}

body {
	font-size: 20px;
}
@media (max-width: 768px) {
  .main_body #contact .left {
    display: none;
  }
  .main_body #contact .row {
    margin: auto;
    width: 90%;
  }
  .main_body #form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main_body .firstname, .main_body .lastname, .main_body .email, .main_body .tel, .main_body .btn-div {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-4.headshot {
    width: 33.33333333%;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
  .col-lg-4.headshot {
    text-align: center;
  }

  .col-lg-4.headshot img{
    width: 25% !important;
  }

}


/*# sourceMappingURL=home_page.css.map */
